/* Coloque aqui seu codigo CSS */
.with-border {
	border: 2px solid #f0f0f0;
    padding: 10px;
    box-shadow: 2px 2px #d1e0e0;
}

.thumbnail:hover {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	cursor: pointer;	
}

.thumbnail:hover .caption {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);	
}

.thumbnail:hover img {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);	
}

.image-detail {
	width: 69%;
}

@media (min-width: 1340px) {
	.image-detail {
		width: 88%;
	}
}

@media (min-width: 1024px) {
	.image-detail {
		width: 82%;
	}
}

.concurso-pago {
    position: absolute;
    right: -5px;
    top: -10px;
    background: #ff4444;
    border-radius: 50%;
    text-align: center;
    color: #fff;
    font-size: 14px;
    width: 50px;
    height: 50px;
    padding: 15px 0 0 0;
    z-index: 1;
}

.concurso-cancelado {
    position: absolute;
    right: -5px;
    top: -10px;
    background: #777;
    border-radius: 50%;
    text-align: center;
    color: #fff;
    font-size: 14px;
    width: 100px;
    height: 50px;
    padding: 15px 0 0 0;
    z-index: 1;
}
    